.LinkA,
.LinkSpan {
	color: #fbfbff;
	position: relative;
	color: inherit;
	text-decoration: none;
	font-family: 'IBM Plex Mono';
	font-weight: 900;
}
.LinkA:before,
.LinkA:after,
.LinkSpan:before,
.LinkSpan:after {
	content: '';
	position: absolute;
	transition: transform 0.3s ease;
}

.hover-3 {
	display: inline-flex;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
.hover-3:before {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #b5fed9;
	transform: translateX(-100%);
}
.hover-3:hover:before {
	transform: translateX(0);
}
