.footerText {
	font-size: 15px;
	color: #15e6cd;
	margin: 0;
	padding: 50px auto;
	font-family: 'IBM Plex Mono';
	font-weight: 900;
}

.footerDiv {
	bottom: 0;
	padding: 20px 50px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, black 0%, #304352 100%);
}

@media screen and (max-width: 1000px) {
	.footerDiv {
		bottom: 0;
		padding: 20px 50px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 768px) {
	.footerDiv {
		margin-top: 25%;
		bottom: 0;
		padding: 20px 50px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 480px) {
	.footerDiv {
		margin-top: 0%;
		bottom: 0;
		padding: 20px 50px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
