html,
body {
	text-align: center;
	background-image: linear-gradient(to right, black 0%, #304352 100%);
}

@media screen and (max-width: 500px) {
	html,
	body {
		text-align: center;
		background-image: linear-gradient(to left, black 0%, #304352 100%);
	}
}
